<h2>Create Comment</h2>




<form method="post" action="/comments">
  
  <textarea type="text" name="text" placeholder="text"><br>
  
<input type="checkbox" id="vote" value="checked" >

<input type="submit" id="submit" value="submit" class= "btn btn-primary">
</form>