<!---slated for deletion, probably don't need in the first iteration of the platform-->

<h2>New Artwork Edit</h2>
<form method="post" action="/comments/<%= @comment.id %>">
  
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <textarea type="text" name="text" value="<%= @comment.text %>"><br>
  <input type="submit" id="submit" value="submit" class="btn btn-primary">
</form>