<h2>Create New Artwork</h2>




<form method="post" action="/newchunks">
  <input type="text" name="title" placeholder="title"><br>
  <textarea type="text" name="text" placeholder="text"><br>
  <input type="url" name="video_link" placeholder="video link"><br>
  <input type="url" name="image_link" placeholder="image link"><br>
  <input type="url" name="sound_link" placeholder="soundcloud link"><br>
  
 
<input type="submit" id="submit" value="submit" class= "btn btn-primary">
</form>