

<style> 
body{
background-color: #ffa834;
color: white;
font-family: 'Audiowide', cursive;

}
h2{
  font-size: 120px;
  letter-spacing: 30px;
  left: 48px;
  top: -20px;
  width: 1164px;
  height: 210px;
}

#subtitle {
  font-size:18px;
  letter-spacing:13px;
  left:109px;
  top:559px;
  width:1087px;
  height:111px;
}

#sign-up {
  font-size:20px;
  letter-spacing:10px;
  left:300px;
  top:719px;
  width:330px;
  height:55px;


}


</style>

  <h2>Hypermedia Wonderland</h2><br>
  <div id="subtitle"><h3> COLLABORATIVE COMPOSITION PLATFORM</H3></div>




<form method="post" action="/login">
<input type="text" name="username" placeholder="username"><br><br><br>
  
  <input type="password" name="password" placeholder="password"><br><br><br>
</input>
<div id="sign-up"><a href="/signup">SIGN-UP</a></div>
<input type="image" src="/images/plus.svg" color="white" width="482" height="288"></input>



</form>
