<h2>Login to Hypermedia Wonderland</h2>

<div><a href="/signup">SIGN-UP</a></div>


<form method="post" action="/login">
<input type="text" name="username" placeholder="username"><br><br><br>
  
  <input type="password" name="password" placeholder="password"><br><br><br>
</input><input type="submit" id="submit" value="submit" class= "btn btn-primary"></input>



</form>