<style> 
body{
background-color: #ffa834;
color: white;
font-family: 'Audiowide', cursive;
}
</style>


<h2>Create Scene</h2>




<form method="post" action="/oldchunks">
  <input type="text" name="title" placeholder="title"><br>
  <textarea type="text" name="text" placeholder="text"></textarea><br>
 
  <input type="submit" id="submit" value="submit" class= "btn btn-primary">

  

  <input type="hidden" name="project_id" value="<%=@project.id%>">
</form>

<h2><a href='/<%=@project.pslug%>/index'>SHOW ME THE SCENE INDEX</a></h2>