<h1>Index for Now</h1>

<div>


  <h1>scenes</h1>

  <!--this is a link to the add an oldchunk scene and title to the list of source scenes-->
  <a href='/oldchunks/new'>create scene</a>

<% @oldchunks.each do |oldchunk| %>
 
 <h2><a href="/newchunks/all-#{oldchunk.id}"><%= oldchunk.title %></a></h2>
 <p><%= oldchunk.text %></p>
 <% end %>

<!--this is a list of all the current users on a project w link to their show page of all their contributions to this projects-->
<% @users.each do |user| %>
<h2><a href="/users/#{user.slug}/show"><%= user.username %></a></h2>
 <% end %>


</div>
