<p>Here are your Source Scenes (for now), <%= @user.username %></p>



<% @user.oldchunks.each do |oldchunk| %>
 
 <p><%= oldchunk.title %></p>
 <p><%= h(oldchunk.text).gsub(/\n/, '<br/>')%></p><br>
 <% end %>