<h2>Create Project</h2>




<form method="post" action="/projects">
  <input type="text" name="title" placeholder="title"><br>
  
 
  <input type="submit" id="submit" value="submit" class= "btn btn-primary">




</form>

<a href="/projects">HW (return to list of projects)</a>