<h1>Index for Now</h1>

<div>


  <h1>scenes</h1>
  <a href='/oldchunks/new'>create scene</a>

<% @oldchunks.each do |oldchunk| %>
 
 <h2><%= oldchunk.title %></h2>
 <p><%= oldchunk.text %></p>
 <% end %>



</div>
